$black: #fff;
$background: url('https://media.istockphoto.com/photos/texture-of-a-black-brick-wall-dark-background-for-design-picture-id645801956?k=6&m=645801956&s=170667a&w=0&h=Z_XsVk8epXRP3su-bGJWSKZNC4lHyA5fG87_P15Gcbg=');
$gray-line: #7b7b7b;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;